<!DOCTYPE html>
<html>
<title>About Me</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
div
{
padding: 50px 200px 50px 250px;
}
</style>
<body>
<nav class="w3-sidenav w3-white w3-card-2" style="display:none">
  <a href="javascript:void(0)" 
  onclick="w3_close()"
  class="w3-closenav w3-large">Close &times;</a>
  <a href="/home/ritu/mysite/myweb.html">Home</a>		
  <a href="#">Add New articles</a>		
  <a href="/home/ritu/mysite/about.html">About me</a>	
  <a href="/home/ritu/mysite/album.html">My Album</a>	
  <a href="/home/ritu/mysite/about.html">Contact me...!</a>	
  
</nav>

<div class="w3-container w3-teal ">
<span class="w3-opennav w3-xlarge" onclick="w3_open()">&#9776;</span>
<h1>About ME...</h1>
</div>

<div class="w3-center w3-teal">
<img src="<%= asset_path ('img_me.jpg') %>" class="w3-circle" alt="Ritu" style="width:40%">
</div>


<div class="w3-container w3-theme-l4 w3-padding-100">
<ul class="w3-ul w3-card-4">

<li><h2>Carreer Objective</h2></li>
<li>
<p><b>To work in pragmatic way in an organization where I can show my talent and enhance my skills to meet company goals and objective with full integrity and zest.</b></p>
</li>
</ul>
</div> 



<div class="w3-container w3-theme-l3 w3-padding-100" >
<ul class="w3-ul w3-card-4">
<li><h2>Academic Details</h2></li>
<li><h3>Pre-Engineering</h3></li>
<li>
  <table class="w3-table w3-striped w3-border w3-padding-16">
	 <tr class="w3-black">
		<th>Name of school</th>
		<th>Course</th>
		<th>Year of passing</th>		
		<th>Percentage</th>
	</tr>
	<tr>
		<td>Sindhi Hindi High School,Nagpur</td>
		<td>SSC</td>		
		<td>2010-11</td>
		<td>92.55%</td>
	</tr>
	<tr>
		<td>Sindhi Hindi Junior College,Nagpur</td>
		<td>HSC</td>		
		<td>2012-13</td>
		<td>80.89%</td>
	</tr>
</table>
</li>
  <li><h3>Engineering</h3></li>
  
  <li><h3>Walchand College of Enineering,Sangli.</h3></li>
  <li>
   <table class="w3-table w3-striped w3-border w3-padding-16">
	 <tr class="w3-black">
		<th >Year</th>
		<th >Class</th>		
		<th>Sem 1</th>
		<th>Sem 2</th>
	</tr>
	<tr>
		<td>2013-14</td>
		<td>FY B.tech</td>		
		<td>7.05</td>
		<td>7.68</td>
	</tr>
	<tr>
		<td>2014-15</td>
		<td>SY B.tech</td>		
		<td>7.70</td>
		<td>8.13</td>
	</tr>
	<tr>
		<td>2015-16</td>
		<td>TY B.tech</td>		
		<td>9.25</td>
		<td>-</td>
	</tr>


</table>
</li>
</ul>

</div>

<div class="w3-container w3-padding-100 w3-theme-l2">
<ul class="w3-ul w3-card-4">
<li><h2>Project Work</h2></li>
<li><h3>Title : FoodLoop</h3></li>

<li>
<h3>Description:</h3>
<p>        Aimed to combine all local food providers and provide services by taking online orders through app.</p>
</li>
<li>
<h3>Technologies Used</h3>
<p> Android , Java , phpMyAdmin</p>
</li>

</ul>
</div>

<div class="w3-container w3-padding-100 w3-theme-l1">
<ul class="w3-ul w3-card-4">
<li><h2>Technical Skills</h2></li>
<li>Programming Languages : C, C++, Java, php, html</li>
<li>Operating Systems : Windows 8, Ubuntu- (novice)</li>
<li>Development Tools :  Eclipse, Editplus, Netbeans, Android Studio</li>
<li>Databases : Microsoft Access 2010, Oracle 11g.</li>
</ul>
</div>

<div class="w3-container w3-padding-100 w3-theme">

<ul class="w3-ul w3-card-4">
<li><h2>Co-Curricular Activities And Achivements</h2></li>
<li><h3>Winner In</h3> <h4 >Quiz Compedition organised by ACSES club.</h4></li>
<li><h3 style="float:leftt;">Participated In</h3>
<h4>Coding Compedition organised by ACSES club</p>
<p>Coding Compedition organised by Vision 2k14 </p></h4></li>
</ul>
</div>

<div class="w3-container w3-padding-100 w3-theme-d1">

<ul class="w3-ul w3-card-4">
<li><h2>Extra-Curricular Activities</h2></li>
<li><h3>Winner in</h3></li>
<li><h4>Interschool Debate Compedition </h4></li> 
</div>

<div class="w3-container w3-padding-100 w3-theme-d2">

<ul class="w3-ul w3-card-4">
<li><h2>Strong Points</h2></li>

<li><h3>Self Motivated</h3></li>
<li><h3>Persistent</h3></li>
</ul>
</div>


<div class="w3-container w3-padding-100 w3-theme-d3">
<ul class="w3-ul w3-card-4">
<li><h2>Hobbies</h2>
</li>
<li><h3>Listenning Music</h3></li>
<li><h3>Collecting self motivated Quotes</h3></li>
</ul>
</div>

<div class="w3-container w3-padding-100 w3-theme-d4">
<ul class="w3-ul w3-card-4">
<li><h2>Declaration</h2>
</li>
<li><h3>I consider myself familiar with Computer Science and Engineering aspect. I
hereby declare that all information given above is true to best of my knowledge.</h3>
</li>
</div>

<div class="w3-container w3-padding-100 w3-theme-d4">
<h3>Date : 28/01/2016</h3>
<h3>Place : Nagpur </h3> 

<h3 style="float:right"> Your Sincerely<br>
 Kesharwani Rutuja Kesharwani</h3>
</div>

<script>
function w3_open() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
}
function w3_close() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
}
</script>


</body>

</html> 